@model MovieRentalMVCApplication.Models.Customer
@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>Customer Details</h2>
<p>@Model.CustName</p>
<p>@Model.ID</p>
<p>@Model.IsSubscribedToNewsLetter</p>
<p>@Model.DOB</p>
@*<p>@Model.MembershipType.DiscountRate</p>*@

