@model MovieRentalMVCApplication.ViewModel.NewCustomerViewModel
@{
	/**/

	ViewBag.Title = "New";
}


@using (Html.BeginForm("Save", "Customer"))    //controller name//button name
{<div class="form-group">
		@Html.LabelFor(m => m.Customer.CustName)
		@Html.TextBoxFor(m => m.Customer.CustName, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.CustName)

	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.DOB)
		@Html.TextBoxFor(m => m.Customer.DOB, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.DOB)
	</div>


	<div class="form-group">
		@*@*<a href="~/Views/Customer/Edit.cshtml"></a>*@
		@Html.LabelFor(m => m.Customer.MembershipTypeId)
		@Html.DropDownListFor(m => m.Customer.MembershipTypeId,
								  new SelectList(Model.MembershipTypes, "Id", "Name"),
									 "SelectMembershipType",
								  new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)


	</div>
	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter)
			Subscribe to news letter?
		</label>
	</div>

	@Html.HiddenFor(m => m.Customer.ID);

	<div>
		<button class="btn btn-primary" type="submit">Save</button>
		<button class="btn btn-primary" type="submit">Back</button>
	</div>

}


@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
}